* {
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    padding-bottom: 20px;
}

.frase {
    font-size: 18px;
}



nav {

    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(94, 94, 94);
}

.navv {
    padding: 0px 10px 0px;
}

button {
    border-radius: 15px;

}

.button1 {
    background: rgb(142, 142, 230);
}

.button2 {
    background: rgb(223, 105, 105);
}

.button3 {
    background: rgb(110, 221, 110);
}

.conteiner {
    display: flex;
    justify-content: center;
    background: rgb(224, 207, 185);

}

th,
td,
table {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
}

.imgfooter {
    display: flex;
    justify-content: space-around;
    color: white;
}

.img1{
    color: white;
}


footer{
    background-color: black;
    padding:20px;
}

.link1{
    padding: 0px 0px 0px 20px;
}

a:visited,a:link{
    color: white;
}
