* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

.frase {
    font-size: 18px;
}



nav {

    display: flex;
    justify-content: space-around;
    font-size: 20px;
    box-shadow: 1px 10px 10px rgb(84, 87, 88);
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
    
    

}

.navv{
    padding: 0px 10px 0px;
}

button {
    border-radius: 15px;

}

.button1 {
    background: rgb(142, 142, 230);
}

.button3 {
    background: rgb(110, 221, 110);
}

.conteiner {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background: rgb(224, 207, 185);

}

th,
td,
table {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
}

.imgfooter {
    display: flex;
    justify-content: space-around;
    color: white;
}

.img1{
    color: white;
}


footer{
    background-color: black;
    padding:20px;
}

.link1{
    padding: 0px 0px 0px 20px;
}

a:visited,a:link{
    color: white;
}
/*paginas*/

.caixa1{
   display: flex;
   flex-direction:column ;
   align-items: center;
   padding-top: 20px;
   width: 100%;
}

.frase1{
    font-style: italic;
    padding-top: 10px;
}

.comprar{
   padding: 0px 10px 0px;
   background-color: rgb(63, 156, 84);
  
}

.quant{
    position: relative;
    padding: 20px 0px 50px;
}




